.ModalBackground {
    background: #F8FBEF;
    box-shadow: 2px 2px 4px 4px rgba(118,186,153,1);
    border-radius: 15px;
    position: fixed;
    width: 200px;
    height: 200px;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }